{% load menu_tags %}


<ul class="section-items list-unstyled nav flex-column pb-3">
    {% for item in menu_items %}
    <li class="{{ item.active_class }} nav-item section-title">
        <a class="nav-link active" href="{{ item.href }}">{{ item.text }}</a>
    </li>
    {% if item.sub_menu %}
    {% for sub_item in item.sub_menu.items %}
    <li class="{{ sub_item.active_class }} nav-item">
        <a class="nav-link" href="{{ sub_item.href }}">
            {{ sub_item.text }}
        </a>
        {% if sub_item.sub_menu %}
        <ul class="section-items list-unstyled nav flex-column pb-3">
            {% for inner in sub_item.sub_menu.items %}
            <li class="{{ inner.active_class }} nav-item">
                <a class="nav-link" href="{{ inner.href }}">
                    {{ inner.text }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
    {% endif %}

    {% endfor %}
</ul>